binary "./WDePOS.json"
binary "./WDePOSUI.json"
binary "./Datecs_SDK.json"
binary "./Socket_SDK.json"
binary "./Spire_SDK.json"
binary "./Stario_SDK.json"
binary "./Overcoat.json"
binary "./libextobjc.json"
binary "./JRSwizzle.json"
binary "./ZipArchive.json"
github "granoff/Lockbox"
github "evsinev/BerTlv"
github "CocoaLumberjack/CocoaLumberjack" ~> 3.2.1
github "groue/GRMustache" "master"
github "AFNetworking/AFNetworking" ~> 3.0
github "Mantle/Mantle" ~> 2.0